<%- include("header"); -%>
<h1 style="color:black; text-align: center;">Welcome to the about page of my Tah-Dah-list-v1.</h1>
<p>This is just a full-fledged web app made for educational purpose by a hard working and passionate student 😎.</p>
<br><p>Thank you for taking a look enjoy the simple list. And please contact the developer for any suggestion or loophole found in your kind heart🖤.</p>
<form class="item" action="/" method="post">
  <button class="navi-btn" type="submit" name="page" value="home">Back to Home page?</button>
</form>
<%- include("footer"); -%>
